body{
    background-image: linear-gradient(to bottom left, wheat, lightblue, white);
    height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color:darkcyan;
}

.container{
    background: rgba(255,255,255,0.3);
    padding: 380px;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    border-radius: 40px;
    width: 85%;
    max-width: 450px;
}

.container-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    
}
 #kalkulatorknapp{
    background-color: aqua;
    border-color: white;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 30px;
 }